*{
    margin: 0;
    padding: 0;
}
.full{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 234, 234);
    width: auto;
    height: 100vh;
}
.cont{
  background-color: rgb(53, 51, 51);
  padding: 20px;
 box-shadow: -2px -2px 1px black, 8px 8px 10px rgb(96, 100, 96);
  border-radius: 20px;
}
div input{
    width: 75px;
    height: 40px;
    cursor: pointer;
    margin: 10px 0px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgb( 255, 255, 255, 0.1), 2px 2px 15px rgb(0, 0, 0, 0.2);
    background: transparent;
    color: #fff;
}
form .display{
     display: flex;
    justify-content: flex-end;
    margin: 20px 0; 
}
form .display input{
    border: none;
    box-shadow: none;
    text-align: right;
    flex: 1;
    font-size: 25px;
    color: rgb(124, 126, 117);
}
.equal{
    width: 155px;
    color: aqua;
}
.btn{
    color: aqua;
}